<div class="card">
    <div class="img-container">
        {% if not event.imageUploadAt %}
            {% if event.image %}
                <img src="{{ event.image }}" alt="{{ event.name }}">
            {% else %}
                <img class="unset-img" src="./uploads/unset-image.jpg" alt="unset image">
            {% endif %}
        {% else %}
            <img src="{{ vich_uploader_asset(event) }}" alt="{{ event.name }}">
        {% endif %}
    </div>
    <div class="content">
        <div class="text">
            <h3><a href="{{ path('app_event_show', {'id': event.id}) }}">{{ event.name }}</a></h3>
            <span class="tag">{{ event.style }}</span>
            <ul class="infos-list">
                <li class="description">
                    <p>{{ event.description }}</p>
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.75 3C19.5449 3 21 4.45507 21 6.25V17.75C21 19.5449 19.5449 21 17.75 21H6.25C4.45507 21 3 19.5449 3 17.75V6.25C3 4.45507 4.45507 3 6.25 3H17.75ZM19.5 8.5H4.5V17.75C4.5 18.7165 5.2835 19.5 6.25 19.5H17.75C18.7165 19.5 19.5 18.7165 19.5 17.75V8.5ZM7.75 14.5C8.44036 14.5 9 15.0596 9 15.75C9 16.4404 8.44036 17 7.75 17C7.05964 17 6.5 16.4404 6.5 15.75C6.5 15.0596 7.05964 14.5 7.75 14.5ZM12 14.5C12.6904 14.5 13.25 15.0596 13.25 15.75C13.25 16.4404 12.6904 17 12 17C11.3096 17 10.75 16.4404 10.75 15.75C10.75 15.0596 11.3096 14.5 12 14.5ZM7.75 10.5C8.44036 10.5 9 11.0596 9 11.75C9 12.4404 8.44036 13 7.75 13C7.05964 13 6.5 12.4404 6.5 11.75C6.5 11.0596 7.05964 10.5 7.75 10.5ZM12 10.5C12.6904 10.5 13.25 11.0596 13.25 11.75C13.25 12.4404 12.6904 13 12 13C11.3096 13 10.75 12.4404 10.75 11.75C10.75 11.0596 11.3096 10.5 12 10.5ZM16.25 10.5C16.9404 10.5 17.5 11.0596 17.5 11.75C17.5 12.4404 16.9404 13 16.25 13C15.5596 13 15 12.4404 15 11.75C15 11.0596 15.5596 10.5 16.25 10.5ZM17.75 4.5H6.25C5.2835 4.5 4.5 5.2835 4.5 6.25V7H19.5V6.25C19.5 5.2835 18.7165 4.5 17.75 4.5Z" fill="#2D2D2D"/>
                    </svg>
                    <span>{{ event.datetime|date('d/m/Y') }}</span>
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C17.523 2 22 6.478 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12C2 6.478 6.477 2 12 2ZM12 3.667C7.405 3.667 3.667 7.405 3.667 12C3.667 16.595 7.405 20.333 12 20.333C16.595 20.333 20.333 16.595 20.333 12C20.333 7.405 16.595 3.667 12 3.667ZM11.25 6C11.6295 6 11.9435 6.28233 11.9931 6.64827L12 6.75V12H15.25C15.664 12 16 12.336 16 12.75C16 13.1295 15.7177 13.4435 15.3517 13.4931L15.25 13.5H11.25C10.8705 13.5 10.5565 13.2177 10.5069 12.8517L10.5 12.75V6.75C10.5 6.336 10.836 6 11.25 6Z" fill="#212121"/>
                    </svg>
                    <span>{{ event.datetime|date('H:i') }}</span>
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.84303 4.56789C9.24344 1.16748 14.7566 1.16748 18.157 4.56789C21.5574 7.9683 21.5574 13.4815 18.157 16.8819L16.97 18.0558C16.0952 18.9144 14.96 20.0184 13.5642 21.3679C12.6919 22.2113 11.3081 22.2112 10.436 21.3677L6.9449 17.9718C6.50614 17.541 6.13887 17.1777 5.84303 16.8819C2.44262 13.4815 2.44262 7.9683 5.84303 4.56789ZM17.0963 5.62855C14.2817 2.81392 9.71832 2.81392 6.90369 5.62855C4.08907 8.44317 4.08907 13.0066 6.90369 15.8212L8.39077 17.2887C9.20967 18.0901 10.2391 19.0905 11.4788 20.2895C11.7695 20.5706 12.2308 20.5707 12.5215 20.2896L15.9164 16.9881C16.3854 16.5278 16.7787 16.1388 17.0963 15.8212C19.911 13.0066 19.911 8.44317 17.0963 5.62855ZM12 7.99854C13.6577 7.99854 15.0016 9.34238 15.0016 11.0001C15.0016 12.6578 13.6577 14.0016 12 14.0016C10.3423 14.0016 8.99847 12.6578 8.99847 11.0001C8.99847 9.34238 10.3423 7.99854 12 7.99854ZM12 9.49854C11.1707 9.49854 10.4985 10.1708 10.4985 11.0001C10.4985 11.8294 11.1707 12.5016 12 12.5016C12.8293 12.5016 13.5016 11.8294 13.5016 11.0001C13.5016 10.1708 12.8293 9.49854 12 9.49854Z" fill="#212121"/>
                    </svg>
                    <span>{{ event.place }}</span>
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 5.5C7.94772 5.5 7.5 5.94772 7.5 6.5C7.5 7.05228 7.94772 7.5 8.5 7.5C9.05229 7.5 9.5 7.05228 9.5 6.5C9.5 5.94772 9.05229 5.5 8.5 5.5ZM7.5 13.5C7.5 12.9477 7.94772 12.5 8.5 12.5C9.05229 12.5 9.5 12.9477 9.5 13.5C9.5 14.0523 9.05229 14.5 8.5 14.5C7.94772 14.5 7.5 14.0523 7.5 13.5ZM8.5 9C7.94772 9 7.5 9.44771 7.5 10C7.5 10.5523 7.94772 11 8.5 11C9.05229 11 9.5 10.5523 9.5 10C9.5 9.44771 9.05229 9 8.5 9ZM11 6.5C11 5.94772 11.4477 5.5 12 5.5C12.5523 5.5 13 5.94772 13 6.5C13 7.05228 12.5523 7.5 12 7.5C11.4477 7.5 11 7.05228 11 6.5ZM12 12.5C11.4477 12.5 11 12.9477 11 13.5C11 14.0523 11.4477 14.5 12 14.5C12.5523 14.5 13 14.0523 13 13.5C13 12.9477 12.5523 12.5 12 12.5ZM14.5 13.5C14.5 12.9477 14.9477 12.5 15.5 12.5C16.0523 12.5 16.5 12.9477 16.5 13.5C16.5 14.0523 16.0523 14.5 15.5 14.5C14.9477 14.5 14.5 14.0523 14.5 13.5ZM12 9C11.4477 9 11 9.44771 11 10C11 10.5523 11.4477 11 12 11C12.5523 11 13 10.5523 13 10C13 9.44771 12.5523 9 12 9ZM6.25 2C5.00736 2 4 3.00736 4 4.25V20.75C4 21.1642 4.33579 21.5 4.75 21.5H19.2528C19.667 21.5 20.0028 21.1642 20.0028 20.75V11.7493C20.0028 10.5067 18.9954 9.4993 17.7528 9.4993H16.5V4.25C16.5 3.00736 15.4926 2 14.25 2H6.25ZM5.5 4.25C5.5 3.83579 5.83579 3.5 6.25 3.5H14.25C14.6642 3.5 15 3.83579 15 4.25V10.2493C15 10.6635 15.3358 10.9993 15.75 10.9993H17.7528C18.167 10.9993 18.5028 11.3351 18.5028 11.7493V20H16.5V17.25C16.5 16.8358 16.1642 16.5 15.75 16.5H8.25C7.83579 16.5 7.5 16.8358 7.5 17.25V20H5.5V4.25ZM15 18V20H12.75V18H15ZM11.25 18V20H9V18H11.25Z" fill="#212121"/>
                    </svg>
                    <span><b>{{ event.city }}</b></span>
                </li>
            </ul>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-buttons">
                <form action="{{ path('app_event_edit', {'id': event.id}) }}" method="GET">
                    <input type="hidden" name="id" value="{{ event.id }}">
                    <button class="admin-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.9519 3.04746C19.5543 1.64993 17.2885 1.65 15.8911 3.04761L3.94103 14.999C3.5347 15.4054 3.2491 15.9166 3.116 16.4756L2.02041 21.0771C1.96009 21.3304 2.03552 21.5969 2.21968 21.7811C2.40385 21.9653 2.67037 22.0407 2.92373 21.9804L7.52498 20.8848C8.08418 20.7517 8.59546 20.466 9.00191 20.0595L18.9995 10.0607C19.6777 10.7446 19.676 11.8487 18.9943 12.5304L17.2109 14.3138C16.918 14.6067 16.918 15.0816 17.2109 15.3745C17.5038 15.6674 17.9786 15.6674 18.2715 15.3745L20.055 13.5911C21.3224 12.3236 21.3242 10.2697 20.0601 9L20.952 8.10797C22.3493 6.71048 22.3493 4.44486 20.9519 3.04746ZM16.9518 4.1082C17.7634 3.29645 19.0795 3.29641 19.8912 4.10812C20.7028 4.91976 20.7029 6.23568 19.8913 7.04737L7.94119 18.9989C7.73104 19.2091 7.46668 19.3568 7.17755 19.4256L3.76191 20.2389L4.57521 16.823C4.64402 16.534 4.79168 16.2697 5.00175 16.0596L16.9518 4.1082Z" fill="#212121"/>
                        </svg>
                    </button>
                </form>
                <button id="{{ event.id }}_delete" class="admin-button delete">
                    <svg id="{{ event.id }}_delete_svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="{{ event.id }}_delete_svg_path" d="M10 5H14C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5ZM8.5 5C8.5 3.067 10.067 1.5 12 1.5C13.933 1.5 15.5 3.067 15.5 5H21.25C21.6642 5 22 5.33579 22 5.75C22 6.16421 21.6642 6.5 21.25 6.5H19.9309L18.7589 18.6112C18.5729 20.5334 16.9575 22 15.0263 22H8.97369C7.04254 22 5.42715 20.5334 5.24113 18.6112L4.06908 6.5H2.75C2.33579 6.5 2 6.16421 2 5.75C2 5.33579 2.33579 5 2.75 5H8.5ZM10.5 9.75C10.5 9.33579 10.1642 9 9.75 9C9.33579 9 9 9.33579 9 9.75V17.25C9 17.6642 9.33579 18 9.75 18C10.1642 18 10.5 17.6642 10.5 17.25V9.75ZM14.25 9C14.6642 9 15 9.33579 15 9.75V17.25C15 17.6642 14.6642 18 14.25 18C13.8358 18 13.5 17.6642 13.5 17.25V9.75C13.5 9.33579 13.8358 9 14.25 9ZM6.73416 18.4667C6.84577 19.62 7.815 20.5 8.97369 20.5H15.0263C16.185 20.5 17.1542 19.62 17.2658 18.4667L18.4239 6.5H5.57608L6.73416 18.4667Z" fill="#212121"/>
                    </svg>
                </button>
            </div>
        {% endif %}
        <div class="button-container">
            <button class="button"><a href="{{ path('app_event_show', {'id': event.id}) }}">Consult</a></button>
        </div>
    </div>
    {% include 'component/_deletePopUp.html.twig'%}
</div>
